<div class="sign-in-container" *ngIf="!hideSignIn">

  <mat-card>
    <mat-card-content class="mat-card-content">
      <div class="header">
        <h1 mat-dialog-title>Log-in</h1>
        <img class="logo" src="assets/img/logo.png">
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <form class="example-form" [formGroup]="signInForm">

        <mat-form-field class="mat-form-field full-width">
          <mat-label>E-Mail</mat-label>
          <input formControlName="emailForm" matInput placeholder="E-Mail" type="email" #userName />
        </mat-form-field>
        <div class="alert-letters-container-log-in" *ngIf="emailForm?.invalid && (emailForm?.dirty || emailForm?.touched)">
          <div class="alert-letters-log-in" *ngIf="emailForm?.errors?.['required']">Email address is required.</div>
          <div class="alert-letters-log-in" *ngIf="emailForm?.errors?.['email']">Email address is not valid.</div>
        </div>

        <mat-form-field class="mat-form-field full-width">
          <mat-label>Password</mat-label>
          <input formControlName="passwordForm" #userPassword type="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="alert-letters-container-log-in" *ngIf="passwordForm?.invalid && (passwordForm?.dirty || passwordForm?.touched)">
          <div class="alert-letters-log-in" *ngIf="passwordForm?.errors?.['required']">Password is required.</div>
        </div>

        <div mat-dialog-actions class="btn-container">
          <div class="btn-box-log-in">
            <button class="sign-in-btn" [disabled]="loading" mat-button (click)="authService.SignIn(userName.value, userPassword.value)">Log-in</button>
            <button routerLink="/dashboard" (click)="hideSignInLayout()" [disabled]="loading" mat-button cdkFocusInitial>Guest log-in</button>
          </div>
        </div>

        <div class="alert-message" *ngIf="authService.error">
          Email or password is not correct or the account doesn't exist.
        </div>
    </form>
  </mat-card-content>
  </mat-card>
</div>
