<div class="dialog-container">
  <h1 mat-dialog-title>Edit address</h1>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div mat-dialog-content class="mat-dialog-content">
    <form [formGroup]="editAddressForm">
    <div>
      <mat-form-field class="mat-form-field full-width" appearance="outline">
        <mat-label>Street + number</mat-label>
        <input [disabled]="loading" [(ngModel)]="customer.street" formControlName="streetForm" matInput placeholder="Street + number" />
        <div class="alert-letters-container" *ngIf="streetForm?.invalid && (streetForm?.dirty || streetForm?.touched)">
          <div class="alert-letters" *ngIf="streetForm?.errors?.['required']">Street is required.</div>
        </div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mat-form-field margin-right responsive-width" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input [disabled]="loading" [(ngModel)]="customer.zipCode" formControlName="zipCodeForm" matInput placeholder="Zip code" />
        <div class="alert-letters-container" *ngIf="zipCodeForm?.invalid && (zipCodeForm?.dirty || zipCodeForm?.touched)">
          <div class="alert-letters" *ngIf="zipCodeForm?.errors?.['required']">Zip code is required.</div>
          <div class="alert-letters" *ngIf="zipCodeForm?.errors?.['pattern']">Only numbers, no space.</div>
        </div>
      </mat-form-field>
      <mat-form-field class="mat-form-field responsive-width" appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="customer.city" formControlName="cityForm" matInput placeholder="City" />
        <div class="alert-letters-container" *ngIf="cityForm?.invalid && (cityForm?.dirty || cityForm?.touched)">
          <div class="alert-letters" *ngIf="cityForm?.errors?.['required']">City is required.</div>
          <div class="alert-letters" *ngIf="cityForm?.errors?.['pattern']">Only letters, no space.</div>
        </div>
      </mat-form-field>
    </div>
    </form>
  </div>
  <div mat-dialog-actions class="btn-box">
    <button [disabled]="loading" (click)="dialogRef.close()" mat-button>Cancel</button>
    <button [disabled]="loading" (click)="saveUser()" [disabled]="editAddressForm.invalid" mat-button cdkFocusInitial>Save</button>
  </div>
  </div>
