.dialog-container {
  width: 500px;
}

.dialog-box {
  display: flex;
  justify-content: space-between;
}


//responsiv

@media(max-width: 650px) {
  .dialog-container {
    width: 400px;
  }
}


@media(max-width: 500px) {
  .responsive-width {
    width: 100%;
  }

  .dialog-box {
    flex-direction: column;
  }

  .dialog-container {
    width: 100%;
    height: 100vh;
  }

  .mat-dialog-content {
    max-height: 100vh;
  }
}
