.mat-drawer-container {
  height: 100vh;
}

.mat-drawer-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 240px;
}

.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 160px;
  }
}

.logo-container {
  height: 129px;
  border-bottom: 2px solid rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 150px;
    object-fit: cover;
  }
}

.logo {
  font-size: 40px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px;
  border-radius: 100%;
  margin: 5px 0;
  color: white;
  background-color: #63AEFF;
  border: 4px solid #63AEFF;
}

mat-toolbar, mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

mat-toolbar {
  position: relative;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  li {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: rgba(0,0,0,0.04);
    }

    &:focus {
      outline: none;
    }

    mat-icon {
      margin-right: 16px;
    }
  }
}

.menu-link-div {
  width: 3px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}

.menu-link-active {
  background-color: #63AEFF;
}

.margin-menu {
  margin-top: 50px;
}

.data-protection {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 500;

  span {
    margin-top: 5px;

    &:hover {
      cursor: pointer;
      color: #6bbff0;
    }
  }
}

.center-line {
  margin: 4px 4px 0 4px;
}

.help-icon {

  &:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
  }
}

.header {
  height: 70px;
  background-color: #414453bf;
}

.mat-toolbar-row {
  height: 100%;
}

.responsive-menu {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 77%;
  margin-left: 130px;
  font-size: 16px;
}

.link-box {
  display: flex;
  align-items: center;
}

.logout-link {
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon-responsiv-menu {
  margin-right: 5px;
}


//responsiv

@media(max-width: 1200px) {
  .sidenav {
    width: 80px;
  }

  .menu-link-text {
    display: none;
  }

  .logo-container {
    height: 69px;
    img {
      width: 85px;
    }
  }

  .data-protection {
    flex-direction: column;
    font-size: 10px;
  }

  .center-line {
    display: none;
  }

  .help-icon {
    display: block;
  }

  .text-data-protection {
    display: none;
  }
}


@media(max-width: 600px) {
  .menu-items {
    li {
      padding-left: 15px;
      padding-right: 0;
    }
  }

  .header {
    height: 60px;
  }

  .sidenav {
    width: 60px;
  }

  .logo-container {
    height: 59px;
    img {
      width: 70px;
    }
  }

  .data-protection {
    bottom: 5px;
    left: 15px;
  }
}
