<div class="impressum">
  <h1 class="headline">Impressum</h1>
  <h3>Angaben gemäß § 5 TMG:</h3>
  <p>Jörg Schmalgemeier</p>
  <h4>Postanschrift:</h4>
  <p>Kirchdamm 2<br />32369 Rahden<br /></p>
  <h4>Kontakt:</h4>
  <p>Telefon: +49 177 655 10 74<br />E-Mail: contact@joerg-schmalgemeier.com</p>
  <h4>Hinweise zur Website</h4>
  <p>
    <em
      >Das Impressum wurde mit dem
      <a href="https://www.activemind.de/datenschutz/impressums-generator/"
        >Impressums-Generator der activeMind AG</a
      >
      erstellt.</em
    >
  </p>
</div>
