<div class="user-detail-container" >
<div class="content-conatiner" *ngIf="!loading">
<mat-card>
  <button mat-icon-button class="pin-left-upper-corner" routerLink="/customer" routerLinkActive="router-link-active">
    <mat-icon style="color: white;">arrow_back</mat-icon>
  </button>
  <button mat-icon-button class="pin-right-upper-corner" (click)="editUserDetails()">
    <mat-icon style="color: white;">edit</mat-icon>
  </button>

  <mat-card-content class="user-detail-header">
    <div class="icon-header-box">
    <mat-icon class="user-icon">account_circle</mat-icon>
    <div class="user-detail">
      <h2>{{ customer.firstName }} {{ customer.lastName }}</h2>
      <div class="contact-box">
        <div class="contact-way-box">
          <span class="contact-way">Phone:</span>
          <a href="tel:{{ customer.phone }}">
            <div class="icon-text-box">
              <mat-icon class="mail-icon">phone_forwarded</mat-icon>
              <span class="contact-span">{{ customer.phone }}</span>
            </div>
          </a>
        </div>
    </div>
        <div class="contact-way-box">
          <span class="contact-way">Email:</span>
          <a href="mailto:{{ customer.email }}">
            <div class="icon-text-box">
              <mat-icon class="mail-icon">outgoing_mail</mat-icon>
              <span class="contact-span">{{ customer.email }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button class="pin-right-upper-corner" (click)="editMenu()">
    <mat-icon>edit</mat-icon>
  </button>

  <mat-card-header>
    <mat-card-title class="address">Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span class="address-text">{{ customer.street }} <br></span>
    <span class="address-text">{{ customer.zipCode }} {{ customer.city }}</span>

  </mat-card-content>
</mat-card>
</div>

<div *ngIf="loading" class="spinner-div">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

</div>
