<div class="user-detail-container" >
<div class="content-conatiner" *ngIf="!loading">
<mat-card>
  <button mat-icon-button class="pin-left-upper-corner" routerLink="/user" routerLinkActive="router-link-active" [matMenuTriggerFor]="userMenu">
    <mat-icon style="color: white;">arrow_back</mat-icon>
  </button>
  <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
    <mat-icon style="color: white;">more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetails()">Edit</button>
  </mat-menu>

  <mat-card-content class="user-detail-header">
    <img src="./assets/img/user.png">
    <div class="user-detail">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <div class="contact-box">
        <div class="contact-way-box">
          <span class="contact-way">Phone:</span>
          <a href="tel:{{ user.phone }}">
            <div class="icon-text-box">
              <mat-icon class="mail-icon">phone_forwarded</mat-icon>
              <span class="contact-span">{{ user.phone }}</span>
            </div>
          </a>
        </div>
        <div class="contact-way-box">
          <span class="contact-way">Email:</span>
          <a href="mailto:{{ user.email }}">
            <div class="icon-text-box">
              <mat-icon class="mail-icon">outgoing_mail</mat-icon>
              <span class="contact-span">{{ user.email }}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="adressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #adressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.street }} <br>
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>
</div>

<div *ngIf="loading" class="spinner-div">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>

</div>
