.user-container {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
}

mat-card-content {
  padding-left: 0;
  padding-right: 0;
}

.add-user-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #63AEFF;
}

.user-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    &:first-child {
      cursor: unset;
      border-bottom: 0;

      &:hover {
        background-color: unset;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    td {
      height: 48px;
      width: fit-content;
      font-size: 20px;

      &:first-child {
        padding-left: 16px;
      }

      a {
        text-decoration: none;
        color: black;
        width: fit-content;
        display: block;
        width: fit-content;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: unset;
    }
  }

  th {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 500;
    text-align: start;

    &:first-child {
      padding-left: 16px;
    }
  }
}

.headline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.search-box {
  width: 130px;
  height: 31px;
  top: 53px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 6px 5px 5px 10px;
}

.search-input {
  width: 105px;
  border: none;
  background-color: whitesmoke;
  border: none;
  outline: none;
}

.search-icon {
  width: 18px;
  object-fit: cover;
}

.td-flex {
  display: flex;
  align-items: center;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.mail-icon {
  color: #414453bf;
  margin-right: 3px;
}


//responsiv

@media(max-width: 1800px) {
  .user-table {
    td {
     font-size: 18px !important;
      }
  }
}


@media(max-width: 1600px) {
  .user-table {
    td {
     font-size: 16px !important;
      }
  }
}


@media(max-width: 1400px) {
  .user-table {
    td {
     font-size: 14px !important;
      }
  }
}


@media(max-width: 1200px) {
  .user-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media(max-width: 1000px) {
  .user-table {
    display: flex;
    flex-direction: column;

    tr {
      display: flex;
      justify-content: start;
      padding-left: 50px;
      padding-right: 50px;
    }

    td {
      width: 50% !important;

      &:first-child {
       margin-right: 50px;
      }

      &:last-child {
        display: none;
      }
    }

    th {
      width: 50%;

      &:first-child {
        margin-right: 50px;
      }

      &:last-child {
        display: none;
      }
    }
  }
}


@media(max-width: 850px) {
  .user-table {
    tr {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


@media(max-width: 750px) {
  .user-table {
    tr {
      padding-left: 25px;
      padding-right: 5px;
      justify-content: start;
    }

    td {
      width: unset !important;
      &:nth-child(even) {
        display: none;
      }

      &:first-child {
        margin-right: 0;
      }
    }

    th {
      width: 100%;
      &:nth-child(even) {
        display: none;
      }
    }
  }
}


@media(max-width: 600px) {
  .user-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


@media(max-width: 450px) {
  .user-table {
    tr {
      padding-left: 5px;
    }
  }

  .headline-box {
    flex-direction: column;
    align-items: start;
  }

  .search-box {
    margin-top: 8px;
    padding: 1px 5px 1px 5px;
  }

  .add-user-btn {
    width: 35px;
    height: 35px;
  }
}
