<div class="dashboard-container">
<div class="first-section">
  <mat-card class="card-donut">
    <mat-card-content class="mat-card-content-line-chart">
      <div class="text-box">
        <div class="headline headline-product-sales">Product Sales</div>
        <button
          class="btn-show-more"
          mat-button
          [matMenuTriggerFor]="belowMenu"
        >
          <span *ngIf="graphWeek" class="span-period">This week</span>
          <span *ngIf="graphMonth" class="span-period">This month</span>
          <span *ngIf="graphYear" class="span-period">This year</span>
          <mat-icon class="icon">expand_more</mat-icon>
        </button>
        <mat-menu class="mat-menu" #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item *ngIf="!graphWeek" (click)="showGraphWeek()">
            This week
          </button>
          <button mat-menu-item *ngIf="!graphMonth" (click)="showGraphMonth()">
            This month
          </button>
          <button mat-menu-item *ngIf="!graphYear" (click)="showGraphYear()">
            This year
          </button>
        </mat-menu>
      </div>

      <canvas
        *ngIf="graphWeek"
        baseChart
        [labels]="doughnutChartLabelsWeek"
        [datasets]="doughnutChartDatasetsWeek"
        [options]="doughnutChartOptionsWeek"
        [legend]="false"
        [type]="'doughnut'"
      >
      </canvas>

      <canvas
        *ngIf="graphMonth"
        baseChart
        [labels]="doughnutChartLabelsMonth"
        [datasets]="doughnutChartDatasetsMonth"
        [options]="doughnutChartOptionsMonth"
        [legend]="false"
        [type]="'doughnut'"
      >
      </canvas>

      <canvas
        *ngIf="graphYear"
        baseChart
        [labels]="doughnutChartLabelsYear"
        [datasets]="doughnutChartDatasetsYear"
        [options]="doughnutChartOptionsYear"
        [legend]="false"
        [type]="'doughnut'"
      >
      </canvas>

      <div class="legend-box">
        <span class="product-one">Product One</span>
        <span class="product-two">Product Two</span>
        <span class="product-three">Product Three</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-line-chart">
    <mat-card-content class="mat-card-content-line-chart">
      <div class="text-box-line-chart">
        <div class="headline headline-total-sales">Total Sales</div>
        <button
          class="btn-show-more margin-btn"
          mat-button
          [matMenuTriggerFor]="belowMenu1"
        >
          <span *ngIf="lineChart2023" class="span-period">2023</span>
          <span *ngIf="lineChart2022" class="span-period">2022</span>
          <span *ngIf="lineChart2021" class="span-period">2021</span>
          <mat-icon class="icon">expand_more</mat-icon>
        </button>
        <mat-menu class="mat-menu" #belowMenu1="matMenu" yPosition="below">
          <button
            mat-menu-item
            *ngIf="!lineChart2023"
            (click)="showLineChart2023()"
          >
            2023
          </button>
          <button
            mat-menu-item
            *ngIf="!lineChart2022"
            (click)="showLineChart2022()"
          >
            2022
          </button>
          <button
            mat-menu-item
            *ngIf="!lineChart2021"
            (click)="showLineChart2021()"
          >
            2021
          </button>
        </mat-menu>
      </div>

      <canvas
        *ngIf="lineChart2023"
        baseChart
        width="850"
        height="350"
        [type]="'line'"
        [data]="lineChartData2023"
        [options]="lineChartOptions2023"
        [legend]="lineChartLegend2023"
      >
      </canvas>

      <canvas
        *ngIf="lineChart2022"
        baseChart
        width="850"
        height="350"
        [type]="'line'"
        [data]="lineChartData2022"
        [options]="lineChartOptions2022"
        [legend]="lineChartLegend2022"
      >
      </canvas>

      <canvas
        *ngIf="lineChart2021"
        baseChart
        width="850"
        height="350"
        [type]="'line'"
        [data]="lineChartData2021"
        [options]="lineChartOptions2021"
        [legend]="lineChartLegend2021"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
</div>

<div class="second-section">
  <mat-card class="card-reviews">
    <mat-card-content>

      <div *ngIf="loading" class="spinner-div">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>

      <div *ngIf="!loading">
      <div class="headline margin-headline-review font-size-headline">New customer reviews</div>
        <div class="review-card">
          <span class="product-headline">Product One</span>
          <div class="headline-rating-box">
            <span class="card-headline">
              {{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.title }}
            </span>
            <span class="rating-box">
              <img *ngIf="reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.rating['0'] > 0" class="star-img" src="assets/img/star1.png"/>
              <img *ngIf="reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.rating['0'] > 1" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.rating['0'] > 2" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.rating['0'] > 3" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.rating['0'] > 4" class="star-img" src="assets/img/star1.png" />
            </span>
          </div>
          <span class="text-span">
            {{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.text }}
          </span>
          <span class="name-date-box">
            {{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.costumerName }},
            {{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.day }}.{{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.month }}.{{ reviewsService.reviewsProductOne[reviewsService.reviewsProductOne.length -1]?.year }}
          </span>
        </div>

        <div class="review-card">
          <span class="product-headline">Product Two</span>
          <div class="headline-rating-box">
            <span class="card-headline">
              {{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.title }}
            </span>
            <span class="rating-box">
              <img *ngIf="reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.rating['0'] > 0" class="star-img" src="assets/img/star1.png"/>
              <img *ngIf="reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.rating['0'] > 1" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.rating['0'] > 2" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.rating['0'] > 3" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.rating['0'] > 4" class="star-img" src="assets/img/star1.png" />
            </span>
          </div>
          <span class="text-span">
            {{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.text }}
          </span>
          <span class="name-date-box">
            {{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.costumerName }},
            {{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.day }}.{{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.month }}.{{ reviewsService.reviewsProductTwo[reviewsService.reviewsProductTwo.length -1]?.year }}
          </span>
        </div>

        <div class="review-card no-border">
          <span class="product-headline">Product Three</span>
          <div class="headline-rating-box">
            <span class="card-headline">
              {{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.title }}
            </span>
            <span class="rating-box">
              <img *ngIf="reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.rating['0'] > 0" class="star-img" src="assets/img/star1.png"/>
              <img *ngIf="reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.rating['0'] > 1" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.rating['0'] > 2" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.rating['0'] > 3" class="star-img" src="assets/img/star1.png" />
              <img *ngIf="reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.rating['0'] > 4" class="star-img" src="assets/img/star1.png" />
            </span>
          </div>
          <span class="text-span">
            {{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.text }}
          </span>
          <span class="name-date-box">
            {{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.costumerName }},
            {{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.day }}.{{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.month }}.{{ reviewsService.reviewsProductThree[reviewsService.reviewsProductThree.length -1]?.year }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="amount-container">
    <mat-card class="card-amount card-margin">
      <mat-card-content class="card-amount-content">
        <div class="headline text-center">New customer this week</div>
        <div class="amount-box">
          <div class="amount week-amount">35</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-amount">
      <mat-card-content class="card-amount-content">
        <div class="headline text-center">Sales today</div>
        <div class="amount-box">
          <span class="amount">67</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</div>
