.reviews-container {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.headline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.btn-add-review {
  background-color: #63AEFF !important;
}

.accordion-container {
  margin-bottom: 32px;
  position: relative;
}

.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: red;
  }

.product-name {
  font-size: 18px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stars-amount {
  display: flex;
  align-items: center;
}

.star-img {
  width: 20px;
  object-fit: cover;
  margin-bottom: 2px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-panel-title {
  flex-basis: unset !important;
}

.panel-header {
  padding: 5px 35px;
}

.all-reviews-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow-y: auto;
  margin-top: 35px;
}

.all-reviews-box::-webkit-scrollbar {
  width: 6px;
}

.all-reviews-box::-webkit-scrollbar-track {
  border-radius: 2px;
}

.all-reviews-box::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 2px;
}

.mat-mdc-form-field-infix {
  width: 137px !important;
}

.review-card {
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 5px;
  border-radius: 10px;
}

.card-headline {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.add-user-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

.search-box {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 53px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 6px 5px 5px 10px;
}

.search-input {
  width: 93px;
  border: none;
  background-color: whitesmoke;
  border: none;
  outline: none;
}

.search-icon {
  width: 18px;
  object-fit: cover;
}

.headline-rating-box {
  display: flex;
  align-items: center;
}

.span-text {
  margin: 5px 0;
}

.name-date {
  font-weight: 500;
}


//responsiv

@media(max-width: 1200px) {
  .reviews-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media(max-width: 700px) {
  .headline-rating-box {
    flex-direction: column;
    align-items: start;
  }
}


@media(max-width: 600px) {
  .reviews-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .product-name {
    font-size: 17px;
  }

  .card-headline {
    font-size: 17px;
  }

  .product-name {
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
  }

}


@media(max-width: 500px) {
  .headline-box {
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;
  }

  .btn-add-review {
    position: absolute;
    right: 16px;
    bottom: 0;
  }

  .search-box {
    top: 65px;
    right: unset;
    left: 15px;
  }

  .panel-header {
    padding: 5px 15px 5px 15px;
  }
}


@media(max-width: 450px) {
  .star-img {
    width: 15px;
  }
  .review-card {
    padding: 10px;
  }

}


@media(max-width: 400px) {
  .product-name {
    font-size: 16px;
  }
}


@media(max-width: 350px) {
  .product-name {
    font-size: 15px;
  }
}


@media(max-width: 320px) {
  .product-name {
    font-size: 14px;
  }
}
